<footer class="footer">
    <div class="inner">
      <div class="footer__nav">
        <a href="#" class="footer__nav-item">Menu</a>
        <a href="#" class="footer__nav-item">Menu</a>
        <a href="#" class="footer__nav-item">Menu</a>
      </div>
      <small class="footer__copyright">&copy; <%= new Date().getFullYear() %> <%= config.default.title %></small>
    </div>
  </footer>
