<header class="header">
  <div class="inner">
    <h1 class="header__logo"><%= config.default.title %></h1>
    <nav class="header__nav">
      <a href="#" class="header__nav-item">Menu</a>
      <a href="#" class="header__nav-item">Menu</a>
      <a href="#" class="header__nav-item">Menu</a>
      <a href="#" class="header__nav-item">Menu</a>
    </nav>
  </div>
</header>
